.form-contact,.contacto {
    width: 80%;
    padding: 10px 20px 10px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-contact2{
    width: 50%;
    padding: 20px 20px 20px;
    margin: 15px auto 60px;;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    margin-bottom: 160px;
}

.form-contact3{
    width: 50%;
    padding: 20px 20px 20px;
    margin: 60px auto 60px;;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    text-align: center;
    margin-top: -30px;
}

.redsocial {
    margin: 0.5em;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.08em;
    font-weight: bold;
}

@media(min-device-width:768px){

    .redsocial {
        margin: 1em;
        font-family: 'Ubuntu', sans-serif;
        font-size: 1.5em;
        font-weight: bold;
    }
}

.gmail {
    width: 47.6563px;
    height: 47.6563px;
    position: relative;
    vertical-align: baseline;
    margin-bottom: 1em;
}

.correogmail {
    margin: 0.5em;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.08em;
    font-weight: bold;
    vertical-align: 28px; 
}

@media(min-device-width:768px){

    .correogmail {
        margin: 1em;
        font-family: 'Ubuntu', sans-serif;
        font-size: 1.5em;
        font-weight: bold;
        vertical-align: 28px; 
    }
}

body{
    background-color: #e9f2fc;
    font-family: 'Ubuntu', sans-serif;
}

span.text-danger{
    color: red;
    font-weight: bolder;
}

.cmbConsulta {
    color: black;
    font-size: 0.9em;
    margin-top: 1em;
}

a.icon.rounded.fa-twitter, a.icon.rounded.fa-facebook {
    margin-bottom: 1.5em;
}

a.icon.rounded.fa-facebook {
    margin-top: 1.3em;
}


@media(min-device-width:768px){

    a.icon.rounded.fa-twitter{
        margin-bottom: 1.5em;
    }

    a.icon.rounded.fa-facebook {
        margin-top: 0em;
    }
}

input[type="text"],[type="email"],[type="password"] {
    margin-bottom: 1em;
}

#inputSubject, #inputMessage, #inputBank{
    margin-bottom: 1em;
}

#submitBtn {
    margin-bottom: 1em;
}

.form-contact.reg {
    text-align: center;
    padding-top: inherit;
    padding-bottom: initial;
    width: 50%;
    margin-top: -30px;
}

.izq {
    width: 100%;
    text-align: center;
}

.modal-body {
    margin-top: -100px !important;
}

.modal-title {
    text-align: center !important;
    font-family: FuturaPT-Bold;
    letter-spacing: 2px;
}